@page "/register"
@inject NavigationManager NavManager
@inject HttpClient Http
@inject IConfiguration Configuration;

<MudCard Outlined="true">
	<MudCardHeader class="d-flex justify-center">
		<MudText Typo="Typo.h5">Register</MudText>
	</MudCardHeader>
	<MudCardContent>
		<EditForm Model="@_model" OnValidSubmit="@HandleRegister">
			<DataAnnotationsValidator />

			<MudTextField T="string" Label="Name" @bind-Value="_model.Name" For="@(() => _model.Name)" />
			<MudTextField T="string" Label="Email" @bind-Value="_model.Email" For="@(() => _model.Email)" />
			<MudTextField T="string" InputType="InputType.Password" Label="Password" @bind-Value="_model.Password" For="@(() => _model.Password)" />
			
			<div class="d-flex align-center justify-end mt-4">
				<MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Register</MudButton>
			</div>
		</EditForm>

		@if (_error != null)
		{
			<MudText Color="Color.Error">
				@_error
			</MudText>
		}
	</MudCardContent>
</MudCard>

@code {
	readonly UserRegisterDto _model = new();
	string? _error;

	private async Task HandleRegister(EditContext context)
	{
		var api = Configuration.GetSection("api").Value;
		var response = await Http.PostAsJsonAsync($"{api}/Auth/Register", _model);

		if (!response.IsSuccessStatusCode)
		{
			_error = await response.Content.ReadAsStringAsync();
			StateHasChanged();
			return;
		}

		_error = null;
		StateHasChanged();
		NavManager.NavigateTo("/");
	}
}
